.row-houseResource {
    border: 1px solid #999;
    padding: .5rem;
    border-bottom: none;
}
.row-houseResource:last-child {
    border-bottom: 1px solid #999;
}
.houseResource-name {
    white-space: nowrap;
    overflow-x: scroll;
}
.houseResource-wrap a {

}